MINIMAX_VIDEO_CREATE_API_URL=https://api.minimaxi.com/v1/video_generation
MINIMAX_VIDEO_QUERY_API_URL=https://api.minimaxi.com/v1/query/video_generation
MINIMAX_VIDEO_FILE_API_URL=https://api.minimaxi.com/v1/files/retrieve
MINIMAX_API_KEY=
